RewriteEngine On
# If an existing asset or directory is requested go to it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise redirect all HTTP requests to index.html
RewriteRule ^ index.html [L]
