<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don't rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Don't rewrite if it's already index.html
  RewriteCond %{REQUEST_URI} !^/index\.html$

  # Rewrite everything else to index.html
  RewriteRule ^ /index.html [QSA,L]
</IfModule>